i:hover {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  color: var(--bs-gray)!important;
}

i {
  padding-left: 10px;
  padding-right: 10px;
  transition: all .2s;
}

table tbody > tr:hover:not(#changelog tr):not(form tr) {
  background-color: #343a40;
  transition: .2s;
  color: white;
  font-size: 18px;
}

tbody > tr {
  transition: all .12s ease-in-out;
}

tbody > tr:active {
  color: #343a40;
  background: white;
  transition: .5s;
}

.delete-td {
  background-color: var(--bs-danger)!important;
  color: white;
  transition: all 1.5s!important;
}

.table-button {
  background-color: #343a40;
  color: white;
  background: linear-gradient(to left, #343a40 50%, rgb(255,255,255) 50%) right;
  background-size: 200%;
  border: none;
  /*font-weight: bold;*/
  /*float: left;*/
  width: 100%;
  transition: all 0.2s ease-in-out;
  margin-top: 37px;
  box-shadow: 2px 2px 2px var(--bs-gray)!important;
}

.table-button:hover {
  background-position: left;
  color: #343a40;
  transition: all 0.2s ease-in-out;
  color: #343a40;
  margin-top: 37px;
  box-shadow: 2px 2px 2px var(--bs-gray);
}

