.form-buttons {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

    text-align: center;
    width: 100%;
    padding: 3px;
    margin-top: 50px;
}

.form-buttons button:focus{
    outline: 0px;
}

.form-submit {
    box-sizing: border-box;

    width: 49%;
    padding: 5px;
    margin-left: 1%;

    border: 0px;
    border-radius: 5px;
    border-bottom: 3px solid rgb(159, 223, 143);

    color: white;
    background-color: var(--green);
    box-shadow: 3px 3px 5px rgb(66, 66, 66);
    transition: all 0.4s;
}

.form-submit:hover, .form-submit:focus {
    cursor: pointer;
    color: var(--green);  
    font-weight: bold;
    background-color: white;
    border-bottom: 3px solid var(--green);
    transition: all 0.4s;
}

.form-cancel {
    box-sizing: border-box;

    width: 49%;
    padding: 5px;
    margin-right: 1%;

    border: 0px;
    border-radius: 5px;
    border-bottom: 3px solid rgb(223, 143, 143);

    color: white;
    background-color: var(--red);
    box-shadow: 3px 3px 5px rgb(66, 66, 66);
    transition: all 0.4s;
}

.form-cancel:hover, .form-cancel:focus {
    cursor: pointer;
    color: var(--red);  
    font-weight: bold;
    background-color: white;
    border-bottom: 3px solid var(--red);
    transition: all 0.4s;
}