#section-label {
  float: left;
  margin-top: 5px;
  margin-left: 20px;
  color: #343a40;
  margin-bottom: 5px;
  width: auto;
  text-align: left;
}

#section-label:hover {
  float: left;
  margin-top: 4px;
  margin-left: 20px;
  color: #343a40;
  margin-bottom: 1px;
  width: auto;
  text-align: left;
}

#section-status {
  margin-top: 5px;
  margin-left: 0px;
  color: #343a40;
  margin-bottom: 5px;
  float: left;
  width: 20%;
}

body > #section-status:hover {
  margin-top: 4px!important;
  margin-bottom: 1px!important;
  margin-left: 2%!important;
  /*color: red;*/
  margin-bottom: 5px;
  float: left;
  width: 20%!important;
  transform: scale(1.1);
  /*font-weight: bold;*/
}

#section-logout {
  margin-top: 5px;
  color: #343a40;
  margin-bottom: 5px;
  width: 6%;
  text-align: right;
  float: right;
  margin-right: 20px;
  transition: all .2s;
}

#section-logout:hover {
  margin-top: 4px;
  color: #343a40;
  margin-bottom: 1px;
  width: 6%;
  text-align: right;
  float: right;
  margin-right: 20px;
  transform: scale(1.1);
  font-weight: bold;
}

