img {
  transition: all .3s ease-in-out;
}

#indexDefault {
  width: 100%;
  padding-right: 30%;
  padding-left: 30%;
  align-content: center;
}

#indexDefault > img {
  margin-top: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  display: block;
}

