.module {
    display: inline-flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    box-sizing: border-box;

    padding: 20px;

    background-color: rgb(238, 237, 237);
    border-radius: 5px;

    width: 100%;
    box-shadow: 2px 2px 5px grey;
}

.module > div {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.module-header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 25px;
    font-size: 18px;
    color: var(--textcolor);
    padding: 3px;
}

.module-body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: var(--textcolor);
}

.module-footer {
    display: flex;
    width: 100%;
    margin-top: 25px;
    color: var(--textcolor);
    padding: 3px;
}

