.module-title {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    font-size: 18px;
    color: var(--primary);
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.module-subtitle {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    color: var(--textcolor);
    margin-bottom: 15px;
    text-transform: none;
}

.module-button-div {
    position: relative;
    display: flex;
}

.module-button {
    width: calc(100% - 8px);
    background-color: var(--primary);
    color: white;
    transition: all 0.5s;
    padding: 4px;
    padding-bottom: 5px;
    border-radius: 5px;
    height: 34px;
    margin: 6px;
    margin-top: 24px;
    margin-bottom: 0px;
    border: 1px solid #8c8c8c;
    outline: 1px;
    outline-style: dotted;
    outline-color: rgba(71, 71, 71, 0.603);
    outline-offset: 5px;
}

.module-button:hover {
    background-color: white;
    color: var(--primary);
    outline: 1px;
	outline-style: solid;
	outline-color: var(--primary);
	outline-offset: 5px;
    cursor: pointer;
}

.module-search {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    color: var(--textcolor);
    margin-bottom: 15px;
    text-transform: none;
}

.module-search > .module-search-span {
    width: 100%;
    margin-bottom: 5px;
    transform: scale(1.0)!important;
}

.module-breakline {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px;
}

.module-body-subtitle {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    color: var(--primary);
    text-transform: none;
}

.module-input {
    padding: 3px;
}

.module-input, .module-input-element {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    /* margin-bottom: 5px; */
}

.module-input-element::-webkit-outer-spin-button,
.module-input-element::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.module-form-control {
    display: flex;
    width: 100%;
    margin-top: 25px;
    color: var(--textcolor);
}

.module-submit {
    width: 50%;
    background-color: var(--primary);
    color: white;
    transition: all 0.5s;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(71, 71, 71, 0.603);
    margin-left: 3px;
}

.module-submit:hover, .module-submit:focus {
    background-color: white;
    border: 0px;
    color: var(--primary);
    font-weight: bold;
    transition: all 0.4s;
    cursor: pointer;
    box-shadow: 2px 2px 5px var(--primary);
    outline: none;
}

.module-back {
    width: 50%;
    background-color: white;
    color: var(--textcolor);
    transition: all 0.4s;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(71, 71, 71, 0.603);
    margin-right: 3px;
}

.module-back:hover, .module-back:focus {
    background-color: var(--textcolor);
    border: 0px;
    color: white;
    font-weight: bold;
    transition: all 0.4s;
    cursor: pointer;
    box-shadow: 2px 2px 5px var(--textcolor);
    outline: none;
}
