.module {
    display: inline-flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    box-sizing: border-box;

    padding: 20px;

    background-color: var(--module);
    border-radius: 5px;

    width: 100%;
    height: fit-content;
    max-height: 90vh;
    box-shadow: 2px 2px 5px rgb(66, 66, 66);
    overflow: auto;
}

.module-div {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    width:100%;
}

.module-header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 25px;
    font-size: 18px;
    color: var(--textcolor);
    padding: 3px;
}

.module-body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: var(--textcolor);
}

.module-footer {
    display: flex;
    width: 100%;
    margin-top: 25px;
    color: var(--textcolor);
    padding: 3px;
}

