#new {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.new-header {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    font-size: 18px;
    color: var(--textcolor);
}

.new-select-title {
    display: flex;
    width: 100%;
    font-size: 16px;
    color: var(--textcolor);
    margin-bottom: 15px;
}

.new-fields {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.new-fields-field {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 3px;
    color: var(--textcolor);
}

.new-fields-field label {
    color: var(--textcolor);
    width: 100%;
    margin-bottom: 5px;
}

.new-submit {
    background-color: var(--green);
    transition: all 0.5s;
}

.new-submit div, .new-submit input, .new-submit label {
    background-color: var(--green);
    height: 0px;
    width: 0px;
    transition: all 0.5s;
}